:root{
    --Desaturated: hsl(0, 36%, 70%);
    --Soft: hsl(0, 93%, 68%);
    --rosa-deg: linear-gradient(135deg, hsl(0, 80%, 86%));
}
body{
    background-image: url(../images/bg-pattern-desktop.svg);
    font-family: 'Jost', sans-serif;

}
html {
    box-sizing: border-box;
    min-height: 100%; /*Se coloca para que el degradado tome la pantalla completa y no por franjas*/
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
/* Este proyecto está diseñado con mobile first*/
  .logo{
    margin-left: 20px;
    margin-bottom: 50px;
  }
  @media (min-width: 768px) {
    .logo{
      margin-left: 50px;
      margin-top: 30px;
    }
  }
.contenedor{
    display: flex;
    flex-direction: column-reverse;
  }

@media (min-width: 780px) {
    .contenedor{
      flex-direction: row;
    }
    .informacion{
      flex: calc(60% - 1rem);
      margin-left: 100px;
    }
    .imagen{
      flex: calc(40% - 1rem);
    }
  }

.imagen img{
    width: 100%;
  }

.imagen{
  margin-bottom: 50px;
}
.informacion {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  color: var(--Desaturated);
  font-weight: 300;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .informacion{
    text-align: left;
  }
  .parrafo{
    width: 70%;
  }
  .parrafo p{
    padding: 0 0!important;
  }
  
  
}
.informacion .uno span{
  color: black;
  font-weight: 500;
}
.uno{
  margin-bottom: 0;
}
.parrafo p{
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
  padding: 0 20px;
}
.contenedor-correo{
  position: relative;
}
.contenedor-boton{
  position: absolute;
  top: -2.3px;
  right: 0;
}
@media (min-width: 768px) {
  .contenedor-correo{
    width: 70%;
  }
  .contenedor-boton{
    right: 25px;
  }
}
.contenedor-correo .correo{
  width: 90%;
  background-color: transparent;
  padding: 15px 0;
  border: 1px solid var(--Desaturated);
  border-radius: 30px;
  color: var(--rosa-deg);
  font-size: 20px;
}
.contenedor-boton .button{
  padding: 20px 50px;
  background-color: #f09a99;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 40px;
  border: 1px solid var(--Desaturated);
  transition: all .3s ease-in-out;

}
.contenedor-boton .button:hover{
  background-color: hsl(0, 93%, 68%);
  transform: scale(1.1);
  cursor: pointer;
}
.attribution a{
  text-decoration: none;
  color: #000;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.error{
  font-size: 16px;
  text-transform: none;
  margin: 0 0 0 35px;
  position: relative;
  display: none;
  }
.img-error{
  position: absolute;
  top: 0px;
  left: 290px;
  display: none;
  }
@media (min-width: 768px) {
  .img-error{
    top: 0px;
    left: 200px;
    display: none;
  }
}



